[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "==4.7.1"
livereload = "*"
invoke = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.9"
